/node_modules

/public/assets/angular/*
!/public/assets/angular/angular.min.js

/public/assets/angular-perfect-scrollbar/*
!/public/assets/angular-perfect-scrollbar/src

/public/assets/angular-socket-io/*
!/public/assets/angular-socket-io/socket.min.js

/public/assets/angular-strap/*
!/public/assets/angular-strap/dist
/public/assets/angular-strap/dist/modules

/public/assets/bootstrap/*
!/public/assets/bootstrap/dist

/public/assets/jquery/*
!/public/assets/jquery/dist

/public/assets/perfect-scrollbar/*
!/public/assets/perfect-scrollbar/min