/node_modules

/public/assets/angular/*
!/public/assets/angular/angular.min.js

/public/assets/angular-perfect-scrollbar/*
!/public/assets/angular-perfect-scrollbar/src

/public/assets/angular-socket-io/*
!/public/assets/angular-socket-io/socket.min.js

/public/assets/angular-strap/*
!/public/assets/angular-strap/dist
/public/assets/angular-strap/dist/modules

/public/assets/bootstrap/*
!/public/assets/bootstrap/dist

/public/assets/jquery/*
!/public/assets/jquery/dist

/public/assets/perfect-scrollbar/*
!/public/assets/perfect-scrollbar/min

/public/assets/jqcloud2/*
!/public/assets/jqcloud2/dist

/public/assets/angular-jqcloud/*
!/public/assets/angular-jqcloud/angular-jqcloud.js

/public/assets/angular-sanitize/*
!/public/assets/angular-sanitize/angular-sanitize.min.js

/public/assets/angular-smilies/*
!/public/assets/angular-smilies/dist

/public/assets/angular-moment/*
!/public/assets/angular-moment/angular-moment.min.js

/public/assets/d3/*
!/public/assets/d3/d3.min.js

/public/assets/moment/*
!/public/assets/moment/min
!/public/assets/moment/lang
/public/assets/moment/lang/*
!/public/assets/moment/lang/fr.js