@font-face {
  font-family:'DIN_Next';
  font-weight:normal;
  font-style:normal;
  src:url('../fonts/dinnextltpro-condensed-webfont.eot');
  src:url('../fonts/dinnextltpro-condensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dinnextltpro-condensed-webfont.woff') format('woff'), url('../fonts/dinnextltpro-condensed-webfont.ttf') format('truetype'), url('../fonts/dinnextltpro-condensed-webfont.svg#din_next_lt_procondensed') format('svg');
}
@font-face {
  font-family:'DIN_Next';
  font-weight:bold;
  font-style:normal;
  src:url('../fonts/dinnextltpro-boldcondensed-webfont.eot');
  src:url('../fonts/dinnextltpro-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dinnextltpro-boldcondensed-webfont.woff') format('woff'), url('../fonts/dinnextltpro-boldcondensed-webfont.ttf') format('truetype'), url('../fonts/dinnextltpro-boldcondensed-webfont.svg#din_next_lt_probold_condensed') format('svg');
}
@font-face {
  font-family:'DIN_Next';
  font-weight:200;
  font-style:normal;
  src:url('../fonts/dinnextltpro-lightcondensed-webfont.eot');
  src:url('../fonts/dinnextltpro-lightcondensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dinnextltpro-lightcondensed-webfont.woff') format('woff'), url('../fonts/dinnextltpro-lightcondensed-webfont.ttf') format('truetype'), url('../fonts/dinnextltpro-lightcondensed-webfont.svg#din_next_lt_proLtCn') format('svg');
}

/* Colors from AdminLTE */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
}
.bg-dark-gray {
  background-color: #888 !important;
}
.bg-gray {
  background-color: #eaeaec !important;
}
.bg-black {
  background-color: #222222 !important;
}
.bg-red {
  background-color: #f56954 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #932ab6 !important;
}
.bg-maroon {
  background-color: #85144b !important;
}

.text-red {
  color: #f56954 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #932ab6 !important;
}
.text-maroon {
  color: #85144b !important;
}


/* BODY */
body {
  background:#F3F3F3;
  font-family:'DIN_Next';
  font-size:16px;
  padding:30px 0 50px 0;
  overflow-x:hidden;
}

.container {
  max-width:700px;
}

#wrapper {
  display:block !important;
  opacity:1;
  -webkit-transition:all 1s ease;
  transition:all 1s ease;
}
  #wrapper.ng-hide {
    opacity:0;
    -webkit-transition:all 0s ease;
    transition:all 0s ease;
  }

#header-container {
  position:relative;
  height:80px;
  z-index:10;
}
  header {
    background:#fff;
    width:100%;
    height:100%;
    padding:10px 0;
  }
  header h1 {
    margin:0;
    line-height:60px;
    font-size:38px;
  }

footer {
  text-align:center;
  font-size:0.9em;
  margin-top:50px;
}

/* LOGO */
.logo-sqli {
  height:60px;
}
  .logo-sqli > * {
    display:inline-block;
    height:60px;
    vertical-align:top;
  }
  .logo-sqli .text {
    line-height:65px;
    font-size:55px;
    text-indent:-0.1em;
  }
.logo-sqli .cross {
  position:relative;
  width:60px;
}
  .logo-sqli .cross:before, .logo-sqli .cross:after {
    content:"";
    position:absolute;
    top:0;
    width:50%;
    height:100%;
    background-size:100% 100%;
  }
  .logo-sqli .cross:before {
    left:0;
    background:
      linear-gradient(135deg, rgba(255,255,255,1) 4%, rgba(255,255,255,0) 4%),
      linear-gradient(45deg, rgba(255,255,255,1) 4%, rgba(255,255,255,0) 4%),
      linear-gradient(to right, rgba(255,255,255,0) 96%, rgba(255,255,255,1) 96%),
      linear-gradient(to bottom, rgba(255,255,255,0) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 52%, rgba(255,255,255,0) 52%),
      linear-gradient(45deg, rgba(0,0,0,0) 63%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 70%),
      linear-gradient(135deg, rgba(0,0,0,0) 63%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 70%);
  }
  .logo-sqli .cross:after {
    left:50%;
    background:
      linear-gradient(45deg, rgba(255,255,255,0) 96%, rgba(255,255,255,1) 96%),
      linear-gradient(135deg, rgba(255,255,255,0) 96%, rgba(255,255,255,1) 96%),
      linear-gradient(to right, rgba(255,255,255,1) 4%, rgba(255,255,255,0) 4%),
      linear-gradient(to bottom, rgba(255,255,255,0) 48%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 52%, rgba(255,255,255,0) 52%),
      linear-gradient(135deg, rgba(219,21,18,0) 30%, rgba(219,21,18,1) 30%, rgba(219,21,18,1) 37%, rgba(219,21,18,0) 37%),
      linear-gradient(45deg, rgba(219,21,18,0) 30%, rgba(219,21,18,1) 30%, rgba(219,21,18,1) 37%, rgba(219,21,18,0) 37%);
  }

@media (max-width:460px) {
  #header-container {
    height:70px;
  }
  
  header h1 {
    line-height:50px;
    font-size:28px;
  }
  
  .logo-sqli, .logo-sqli > * {
    height:50px;
  }
  .logo-sqli .text {
    line-height:55px;
    font-size:45px;
  }
  .logo-sqli .cross {
    position:relative;
    width:50px;
  }
}


/* COMMON */
.block-title {
  text-align:center;
  position:relative;
  overflow:hidden;
  margin:0.5em;
}
  .block-title span {
    display:inline-block;
    vertical-align:baseline;
    position:relative;
    padding:0 0.5em;
    text-shadow:1px 1px 0px #ddd;
  }
    .block-title.darker span {
      text-shadow:1px 1px 0px #fff;
    }
  .block-title span:before,
  .block-title span:after {
    content:"";
    display:block;
    width:1000px;
    position:absolute;
    top:0.5em;
    border-top:1px solid #eee;
  }
    .block-title.darker span:before,
    .block-title.darker span:after {
      border-color:#ddd;
    }
  .block-title span:before {
    right:100%;
  }
  .block-title span:after {
    left:100%;
  }

.shadow-top, .shadow-bottom {
  position:relative;
}
  .shadow-top:before, .shadow-bottom:after {
    content:"";
    position:absolute;
    width:50%;
    height:40%;
    left:25%;
    border-radius:50%;
    z-index:-1;
  }
  .shadow-top:before {
    top:0;
    box-shadow:0 -5px 16px rgba(0,0,0,0.2);
  }
  .shadow-bottom:after {
    bottom:0;
    box-shadow:0 5px 16px rgba(0,0,0,0.2);
  }

@media (max-width:1200px) {
  .shadow-top:before, .shadow-bottom:after {
    width:70%;
    left:15%;
  }
}
@media (max-width:768px) {
  .shadow-top:before, .shadow-bottom:after {
    width:120%;
    left:-10%;
  }
}

.progress.xs {
  height:7px;
}
.progress.xs .progress-bar {
  background-image:none;
}
.ps-container .ps-scrollbar-y-rail {
  opacity:0.6;
}


/* PODIUM */
#podium {
  position:relative;
  height:350px;
}
  #podium .triangles {
    position:absolute;
    top:0;
    left:50%;
    width:0;
    height:0;
    margin-left:-175px;
    border-style:solid;
    border-width:175px;
    border-color:#DB1512 transparent #35C7FF transparent;
    z-index:-1;
  }
  
  #podium .count {
    display:inline-block;
    font-size:25px;
    font-weight:200;
    width:30px;
    height:30px;
    line-height:30px;
    margin:0 20px;
    border:1px solid rgba(255, 255, 255, 0.7);
    border-radius:50%;
  }
  #podium .first {
    position:absolute;
    top:0; left:0;
    width:100%;
    text-align:center;
    color:white;
    height:175px;
  }
    #podium .first .name {
      font-size:60px;
      text-shadow:2px 2px 0px rgba(0,0,0,0.2);
    }
      #podium .name.smaller {
        font-size:50px;
      }
  #podium .second-third {
    position:absolute;
    top:120px; left:0;
    width:100%;
  }
    #podium .second-third .name {
      font-size:40px;
      text-shadow:2px 2px 0px white;
    }
    #podium .second-third > div {
      float:left;
      width:50%;
      padding:0 50px;
    }
    #podium .second-third .count {
      text-align:center;
      border-color:rgba(0, 0, 0, 0.5);
    }
    #podium .second-third .second {
      text-align:right;
    }
  #podium .bottom {
    position:absolute;
    width:100%;
    text-align:center;
    left:0;
    top:230px;
    font-size:24px;
    color:white;
  }

@media (max-width:460px) {
  #podium {
    height:300px;
  }
    #podium .triangles {
      margin-left:-150px;
      border-width:150px;
    }
  
  #podium .first {
    height:150px;
  }
    #podium .first .name {
      font-size:50px;
    }
      #podium .name.smaller {
        font-size:40px;
      }
  #podium .second-third {
    top:100px;
  }
    #podium .second-third .name {
      font-size:30px;
    }
    #podium .second-third > div {
      padding:0 40px;
    }
  #podium .bottom {
    top:185px;
  }
}


/* LISTS */
#list {
  padding-bottom:15px;
  background:white;
}
  #list [class^=col-] {
    padding:0;
  }
  .helpers-list {
    padding-right:10px;
    max-height:210px;
    background:none;
    position:relative;
    overflow:hidden;
  }
    .list-bar .pull-left {
      width:70px;
      text-align:right;
      padding-right:5px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      letter-spacing:-0.05em;
    }
    .list-bar .pull-right {
      width:20px;
      padding-left:5px;
    }
    .list-bar .progress {
      margin:8px;
    }

.twitter-tooltip {
  width:150px;
}
  .twitter-tooltip .media-body {
    height:48px;
    overflow:hidden;
  }
  .twitter-tooltip .media-header {
    margin:5px 0 0 0;
  }
  .twitter-tooltip .media-object {
    width:48px;
    height:48px;
  }

/* TWEETS */
#tweets {
  padding-bottom:30px;
}
  .tweets-list {
    position:relative;
    overflow:hidden;
    max-height:395px;
    box-shadow:0 0 5px rgba(0,0,0,0.4);
    border-radius:6px;
  }
  .tweets-list .tweet {
    background:#fff;
    margin:0;
    padding:15px;
    border:1px solid #d8d8d8;
    border-bottom-width:0px;
  }
    .tweets-list .tweet:nth-child(2n+1) {
      background:#F5F8FA;
    }
  .tweets-list .target {
    color:#B00;
    font-style:italic;
    margin-right:0.2em;
  }
  .tweets-list .media-object {
    border-radius:6px;
  }


/* GRAPH */
#graph {
  background:#fff url('../img/mainbg.jpg') center center no-repeat;
  background-size:927px 464px;
}
  #graph svg {
    margin:0 auto;
    display:block;
  }
  #graph .node {
    font:300 12px "Calibri", Arial, sans-serif;
    fill:#bbb;
  }
  #graph .link {
    stroke:#888;
    stroke-opacity:0.4;
    fill:none;
    pointer-events:none;
  }
  #graph .node:hover,
  #graph .node--active {
    font-weight:700;
    cursor:pointer;
  }
  #graph .node-source {
    fill:#DB1512;
  }
  #graph .node-target {
    fill:#3084C9;
  }
  #graph .link--source,
  #graph .link--target {
    stroke-opacity:0.6;
    stroke-width:2px;
  }
  #graph .link--source {
    stroke:#DB1512;
  }
  #graph .link--target {
    stroke:#3084C9;
  }

@media (min-width:768px) {
  #graph .node {
    font-size:14px;
  }
}